<% include partials/header %>

<!--<div>
    <p>Te dhenat jane ketu: </p>
    <ul>
        <li><%= data.id%></li>
        <li><%= data.project%></li>
    </ul
    <ul>
            <% projects.forEach(function(projects) { %>
                <li><%= projects.id %> - <%= projects.name %> - <%= projects.lastname %></li>
            <% }); %>
         </ul>
        <!-- menyra tjeter -->
<!--<table>
        <% for(var i=0 ; i<projects.length ; i++ ) {%>
        <tr>
        <td> <%=projects[i].id %></td>
        <td> <%=projects[i].name %></td>
        <td> <%=projects[i].lastname %></td>
        </tr>
        <% } %>
        </table>


     



</div>  --> 



<% include partials/footer %>
<!-- rresht i  pare edhe i fundit gjithmone njejt e lojm e skem nevoj me i shkru kto tjerat se vec se i thirrim qashtu, tani te server.js i deklarojme qato qe i thirrim ktu ne mest te divi-->